.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    margin: 25px;
    background-color: rgba(22, 22, 22, 0.648);
    border: 4px black;
    border-radius: 12px;
    width: 350px;
    height: 370px;
}

.flagImage{
    width: 90%;
    border-radius: 12px;
}