.searchBarContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #9D9D9D;
    width: 310px;
    height: 35px;
    border-radius: 20px;
}

.searchInput{
    padding-left: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #FFF;
    background-color: transparent;
    border: none;
    height: 30px;
    width: 300px;
    border-radius: 20px;
}

.searchButton{
    background-color: transparent;
    border: none;
}

.buttonImg{
    height: 20px;
    width: auto;
}